@{
    Layout = "~/Views/Shared/Layout.cshtml";
    int perm = Session["perm"] != null ? (int)Session["perm"] : -1;
    // 1. 無登入-1
    // 2. 管理者0、PM1、工讀生2
    // 3. 業者3
}
@model WebApplication1.Models.Members

<main class="container-wrap">
    <div class="container-main">
        <div class="form-wrap">
            @using (Html.BeginForm("Edit", "Members"))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(x=>x.mb_id)

                <div class="form-main">
                    <div class="form-title">
                        <h3>修改人員</h3>
                    </div>

                    <div class="form-content">
                        <div class="form-flex">
                            <div class="form-group">
                                <div class="form-col">
                                    <div class="form-input">
                                        <label for="">姓名</label>
                                        <div class="input">
                                            @Html.TextBoxFor(x => x.mb_name)
                                        </div>
                                    </div>

                                    <div class="form-input">
                                        <label for="">身分證</label>
                                        <div class="input">
                                            @Html.TextBoxFor(x => x.mb_id_card)
                                        </div>
                                    </div>

                                    <div class="form-input">
                                        <label for="">加保</label>
                                        <div class="input select">
                                            <select name="" id="">
                                                <option value="1">加保</option>
                                                <option value="2">退保</option>
                                                <option value="3">調薪</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-input">
                                        <label for="">備註</label>
                                        <div class="input">
                                            @Html.TextBoxFor(x => x.mb_memo)
                                        </div>
                                    </div>

                                    <div class="form-input">
                                        <label for="">勞保序號</label>
                                        <div class="input">
                                            @Html.TextBoxFor(x => x.mb_insurance_id)
                                        </div>
                                    </div>

                                    <div class="form-input">
                                        <label for="">勞動契約</label>
                                        <div class="input file">
                                            <input type="file">
                                            <span></span>
                                            <button type="button" class="onfile">上傳檔案</button>
                                        </div>
                                        @if (perm == 3)
                                        {<label class="demo-file">範本檔</label>}
                                    </div>

                                    <div class="form-input">
                                        <label for="">薪資證明</label>
                                        <div class="input file">
                                            <input type="file">
                                            <span></span>
                                            <button type="button" class="onfile">上傳檔案</button>
                                        </div>
                                        @if (perm == 3)
                                        {<label class="demo-file">範本檔</label>}
                                    </div>
                                </div>

                                <div class="form-col">
                                    <div class="form-input">
                                        <label for="">出生年(民國)</label>
                                        <div class="input">
                                            @Html.TextBoxFor(x => x.mb_birthday)
                                        </div>
                                    </div>
                                    <div class="form-input">
                                        <label for="">投保薪資</label>
                                        <div class="input">
                                            @Html.TextBoxFor(x => x.mb_insur_salary)
                                        </div>
                                    </div>
                                    <div class="form-input">
                                        <label for="">加保日期</label>
                                        <div class="input">
                                            @Html.TextBoxFor(x => x.mb_add_insur_date)
                                        </div>
                                    </div>
                                    <div class="form-input">
                                        <label for="">退保日期</label>
                                        <div class="input">
                                            @Html.TextBoxFor(x => x.mb_surrender_date)
                                        </div>
                                    </div>

                                    <div class="form-input">
                                        <label for="">是否到職轉正</label>
                                        <div class="input checkbox">
                                            <input type="checkbox" id="Yes">
                                            <label for="Yes">是</label>
                                            <input type="checkbox" id="No">
                                            <label for="No">否</label>
                                        </div>
                                    </div>

                                    <div class="form-input">
                                        <label for="">至職轉正日期</label>
                                        <div class="input">
                                            @Html.TextBoxFor(x => x.mb_full_time_date)
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-btn">
                    <button class="btn-cancel" type="button" onclick="history.back()">返回</button>
                    <button class="btn-submit" type="submit">儲存</button>
                </div>
            }
        </div>
    </div>
</main>

