@{
    int perm = Session["perm"] != null ? (int)Session["perm"] : -1;
    // 1. 無登入-1
    // 2. 管理者0、PM1、工讀生2
    // 3. 業者3
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <title>@Session["title"]</title>
    <link rel="stylesheet" href="~/assets/css/style.css">
    <link rel="stylesheet" href="~/assets/css/style2.css">
    <script src="~/assets/js/jquery-2.1.4.min.js"></script>

    @if (Session["msg"] != null && !String.IsNullOrEmpty(Session["msg"].ToString()))
    {
        <script>
            $(function () {
                $('.popup-overlay').show();
                $('.popup-wrap.msg').show();
                $('.popup-wrap.msg .popup-msg').text("@Session["msg"].ToString()");
                $('.popup-wrap.msg .popup-sumbit').on('click', function () {
                    $('.popup-overlay').hide();
                    $('.popup-wrap.msg').hide();
                })
            })
        </script>

        Session["msg"] = null;
    }
</head>

<body>
    <article id="wrap" class="aside-toggle">
        <!-- banner -->
        <div class="banner-wrap">
            <div class="banner-img">
                <img src="~/assets/image/logo.jpg">
            </div>
            <div class="banner-text">交通部觀光署協助審查旅宿業者申請穩定接待國際旅客服務量能補助</div>
        </div>

        @if(Session["ResetPW"] == "N") { 
        <!-- aside -->
        <aside class="aside-wrap">
            <div class="aside-main">
                <nav class="nav-wrap">
                    <ul class="nav-list">
                        <li class="nav-item">
                            <button type="button"><span>資訊發布</span></button>
                            <ul class="nav-sub">
                                <li><a href="@Url.Action("Index","Video")">操作說明</a></li>
                                <li><a href="@Url.Action("Index","News")">訊息公告</a></li>
                                <li><a href="@Url.Action("Index","Download")">表單下載</a></li>
                                <li><a href="@Url.Action("Index","QA")">QA</a></li>
                            </ul>
                        </li>

                        @if (perm == 3)
                        {
                            <li class="nav-item">
                                <a href="@Url.Action("Edit", "Industry", new { id = (int)Session["UserID"] })"><span>基本資料</span></a>
                            </li>

                            <li class="nav-item">
                                <a href="@Url.Action("Index","Subsidy")">補助申請</a>
                            </li>
                            <!--<li class="nav-item">
                                <a href="@Url.Action("Index","Members")">人員資料</a>
                            </li>-->
                            <li class="nav-item">
                                <a href="@Url.Action("Index","SubsidyQ")">案件查詢</a>
                            </li>
                        }
                        else if (perm >= 0)
                        {
                            <li class="nav-item">
                                <a href="@Url.Action("Index","Industry")"><span>旅宿業者</span></a>
                            </li>

                            <li class="nav-item">
                                <button type="button"><span>補助申請</span></button>
                                <ul class="nav-sub">
                                    <li><a href="@Url.Action("Index","Subsidy")">補助申請</a></li>
                                    <li><a href="@Url.Action("Index","SubMembers")">申請補助人員</a></li>
                                </ul>
                            </li>

                            <li class="nav-item">
                                <a href="@Url.Action("Index","IndustryLog")"><span>業者登入登出</span></a>
                            </li>

                            <li class="nav-item">
                                <a href="@Url.Action("Index","MngAccount")"><span>帳號管理</span></a>
                            </li>
                        }
                    </ul>
                </nav>
            </div>

            <div class="aside-bottom">
                <button class="btn-logout" onClick="window.location.href = '@Url.Action("Logout","Login")'">登出</button>
                <div class="aside-time">
                    <span>登入時間</span>
                    <time>@Session["logintime"]</time>
                </div>
            </div>

            <button class="aside-close"></button>
        </aside>
        }
        <button class="nav-btn"></button>
        <!-- main -->
        @RenderBody()
    </article>

    <!-- popup -->
    <div class="popup-wrap msg">
        <div class="popup-main">
            <div class="popup-content">
                <p class="popup-msg">登入成功</p>
                <div class="popup-btn">
                    <button class="btn-submit popup-sumbit">確定</button>
                </div>
            </div>
        </div>
    </div>
    <div class="popup-wrap js-del-popup">
        <div class="popup-main">
            <div class="popup-content">
                <p>是否確定刪除</p>
                <div class="popup-btn">
                    <button class="btn-cancel">取消</button>
                    <button class="btn-submit">確定</button>
                </div>
            </div>
        </div>
    </div>
    <div class="popup-wrap js-review-popup">
        <div class="popup-main">
            <div class="popup-content">
                <p>是否確定送件</p>
                <div class="popup-btn">
                    <button class="btn-cancel">取消</button>
                    <button class="btn-submit">確定</button>
                </div>
            </div>
        </div>
    </div>
    <div class="popup-overlay"></div>

    <!-- JS -->
    <script src="~/assets/js/script.js"></script>
    <script src="~/assets/js/script2.js"></script>
</body>
</html>
