@{
    Layout = "~/Views/Shared/Layout.cshtml";

    int perm = Session["perm"] != null ? (int)Session["perm"] : -1;
    // 1. 無登入-1
    // 2. 管理者0、PM1、工讀生2
    // 3. 業者3

}

@model WebApplication1.Models.SubsidyMemberViewModel
@using WebApplication1.HtmlHelpers

<main class="container-wrap">
    <div class="container-main">
        <div class="form-wrap">
            @using (Html.BeginForm("Edit", "SubMembers", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(x => x.Subsidy_Member.sm_s_id)
                @Html.HiddenFor(x => x.Subsidy_Member.sm_id)
                @Html.HiddenFor(x => x.Subsidy_Member.sm_mb_id)

                <div class="form-main">
                    <div class="form-title">
                        <h3>修改申請補助人員</h3>
                    </div>

                    <div class="form-content">
                        <div class="form-flex">
                            <div class="form-group">
                                <div class="form-col">
                                    <div class="form-input">
                                        <label for="">姓名</label>
                                        <div class="input">
                                            @Html.TextBoxFor(x => x.Member.mb_name, new { @readonly = "@readonly" })
                                        </div>
                                    </div>

                                    <div class="form-input">
                                        <label for="">身份證</label>
                                        <div class="input">
                                            @Html.TextBoxFor(x => x.Member.mb_id_card, new { @readonly = "@readonly" })
                                        </div>
                                    </div>

                                    <div class="form-input">
                                        <label for="">勞保狀態</label>
                                        <div class="input">
                                            <input type="text" readonly value="@ViewBag.mb_add_insur" />
                                        </div>
                                    </div>

                                    <div class="form-input">
                                        <label for="">職務</label>
                                        <div class="input">
                                            @Html.TextBoxFor(x => x.Member.mb_position, new { @readonly = "@readonly" })
                                        </div>
                                    </div>

                                    <div class="form-input">
                                        <label for="">勞保序號</label>
                                        <div class="input">
                                            @Html.TextBoxFor(x => x.Member.mb_insurance_id, new { @readonly = "@readonly" })
                                        </div>
                                    </div>

                                    <div class="form-input">
                                        <label class="required">勞動契約</label>
                                        <div class="input file">
                                            @Html.HiddenFor(x => x.Member.mb_contract)
                                            @Html.TextBoxFor(x => x.ContractFile, new { @type = "file", @accept = ".pdf" ,@id= "mb_contract" })
                                            <span>@Model.Member.mb_contract_name</span>
                                            <button type="button" class="onfile">上傳檔案</button>
                                            <div class="red-text">
                                                <p>*說明:請傳pdf或jpg圖檔，每次上傳限制為5M以內<p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-col">
                                    <div class="form-input">
                                        <label class="required">薪資證明</label>
                                        <div class="input file">
                                            @Html.HiddenFor(x => x.Subsidy_Member.sm_income_certificate)
                                            @Html.TextBoxFor(x => x.IncomeCertificateFile, new { @type = "file", @accept = ".pdf",@id= "sm_income_certificate" })
                                            <span>@Model.Subsidy_Member.sm_income_certificate_name</span>
                                            <button type="button" class="onfile">上傳檔案</button>
                                            <div class="red-text">
                                                <p>*說明:請傳pdf或jpg圖檔，每次上傳限制為5M以內<p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-input">
                                        <label for="">投保薪資</label>
                                        <div class="input">
                                            @Html.TextBoxFor(x => x.Member.mb_insur_salary, new { @readonly = "@readonly" })
                                        </div>
                                    </div>

                                    <div class="form-input">
                                        <label for="">加保日期</label>
                                        <div class="input">
                                            @Html.DateInputFor(x => x.Member.mb_add_insur_date, new { @readonly = "@readonly" })
                                        </div>
                                    </div>

                                    <div class="form-input">
                                        <label for="">退保日期</label>
                                        <div class="input">
                                            @Html.DateInputFor(x => x.Member.mb_surrender_date, new { @readonly = "@readonly" })
                                        </div>
                                    </div>

                                    <div class="form-input">
                                        <label for="">是否到職轉正</label>
                                        <div class="input">
                                            @Html.DropDownListFor(x => x.FullTimeOrNotString, Model.YesOrNo, new { @disabled="" })
                                        </div>
                                    </div>

                                    <div class="form-input">
                                        <label for="">到職轉正日期</label>
                                        <div class="input">
                                            @Html.DateInputFor(x => x.Member.mb_full_time_date, new { @readonly = "@readonly" })
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="form-col">
                                    <div class="form-input">
                                        <label class="required">符合申請(起)</label>
                                        <div class="input">
                                            @Html.TextBoxFor(x => x.Subsidy_Member.sm_agree_start, "{0:yyyy-MM-dd}", new { type = "date", @required = "required" })
                                        </div>
                                    </div>

                                    <div class="form-input">
                                        <label class="required">申請金額</label>
                                        <div class="input">
                                            @Html.TextBoxFor(x => x.Subsidy_Member.sm_advance_money, new { @required = "required" })
                                        </div>
                                    </div>
                                </div>

                                <div class="form-col">
                                    <div class="form-input">
                                        <label class="required">符合申請(迄)</label>
                                        <div class="input">
                                            @Html.TextBoxFor(x => x.Subsidy_Member.sm_agree_end, "{0:yyyy-MM-dd}", new { type = "date", @required = "required" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-btn">
                        <button class="btn-cancel" type="button" onclick="history.back()">返回</button>
                        <button class="btn-submit" type="submit">儲存</button>
                    </div>
                </div>
            }
        </div>
    </div>
</main>

<script>
    $(document).ready(function () {
        checkFileSize('#mb_contract');
        checkFileSize('#sm_income_certificate');
    });
</script>