@{
    Layout = "~/Views/Shared/Layout.cshtml";

    int perm = Session["perm"] != null ? (int)Session["perm"] : -1;
    // 1. 無登入-1
    // 2. 管理者0、PM1、工讀生2
    // 3. 業者3

    string filePath = Url.Content("~/assets/upload/Members/");
}

@model WebApplication1.Models.SubMembersEdit
@using WebApplication1.HtmlHelpers

<main class="container-wrap">
    <div class="container-main">
        <div class="form-wrap">
            <form>
                @*@Html.HiddenFor(x => x.sm_s_id)
                @Html.HiddenFor(x => x.sm_id)
                @Html.HiddenFor(x => x.sm_mb_id)*@

                <div class="form-main">
                    <div class="form-title">
                        <h3>申請補助人員-詳細資料</h3>
                    </div>

                    <div class="form-content">
                        <div class="form-flex">
                            <div class="form-group">
                                <div class="form-col">
                                    <div class="form-input">
                                        <label for="">姓名</label>
                                        <div class="input">
                                            <p>@Model.mb_name</p>                                            
                                        </div>
                                    </div>

                                    <div class="form-input">
                                        <label for="">身份證</label>
                                        <div class="input">
                                            <p>@Model.mb_id_card</p>
                                        </div>
                                    </div>

                                    <div class="form-input">
                                        <label for="">加保</label>
                                        <div class="input">
                                            @*<p>@Model.mb_add_insur</p>*@
                                            <p>加保</p>
                                        </div>
                                    </div>

                                    <div class="form-input">
                                        <label for="">備註</label>
                                        <div class="input">
                                            <p>@Model.mb_memo</p>
                                        </div>
                                    </div>

                                    <div class="form-input">
                                        <label for="">勞保序號</label>
                                        <div class="input">
                                            <p>@Model.mb_insurance_id</p>
                                        </div>
                                    </div>

                                    <div class="form-input">
                                        <label for="">勞動契約</label>
                                        <div class="input file">
                                            <a target="_blank" href=@filePath@Model.mb_contractFile>@Model.mb_contract_name</a>
                                        </div>
                                    </div>

                                    <div class="form-input">
                                        <label for="">薪資證明</label>
                                        <div class="input file">
                                            <a target="_blank" href=@filePath@Model.mb_income_certificateFile>@Model.mb_income_certificate_name</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-col">
                                    <div class="form-input">
                                        <label for="">出生年(民國年)</label>
                                        <div class="input">
                                            <p>@Model.mb_birthday</p>
                                        </div>
                                    </div>

                                    <div class="form-input">
                                        <label for="">投保薪資</label>
                                        <div class="input">
                                            <p>@Model.mb_insur_salary</p>
                                        </div>
                                    </div>

                                    <div class="form-input">
                                        <label for="">加保日期</label>
                                        <div class="input">
                                            <p>@Model.mb_add_insur_date.Value.ToString("yyyy/MM/dd")</p>
                                        </div>
                                    </div>

                                    <div class="form-input">
                                        <label for="">退保日期</label>
                                        <div class="input">
                                            <p>@Model.mb_surrender_date.Value.ToString("yyyy/MM/dd")</p>
                                        </div>
                                    </div>

                                    <div class="form-input">
                                        <label for="">是否到職轉正</label>
                                        <div class="input">
                                            <p>@Model.mb_full_time_or_not.ToString()</p>
                                        </div>
                                    </div>

                                    <div class="form-input">
                                        <label for="">到職轉正日期</label>
                                        <div class="input">
                                            <p>@Model.mb_full_time_date.Value.ToString("yyyy/MM/dd")</p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="form-col">
                                    <div class="form-input">
                                        <label for="">符合申請(起)</label>
                                        <div class="input">
                                            <p>@Model.sm_agree_start.Value.ToString("yyyy/MM/dd")</p>
                                        </div>
                                    </div>

                                    <div class="form-input">
                                        <label for="">申請金額</label>
                                        <div class="input">
                                            <p>@Model.sm_advance_money</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-col">
                                    <div class="form-input">
                                        <label for="">符合申請(迄)</label>
                                        <div class="input">
                                            <p>@Model.sm_agree_end.Value.ToString("yyyy/MM/dd")</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-btn">
                        <button class="btn-cancel" type="button" onclick="history.back()">返回</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</main>