@{
    Layout = "~/Views/Shared/Layout.cshtml";

    int perm = Session["perm"] != null ? (int)Session["perm"] : 3;
    // 1. 無登入-1
    // 2. 管理者0、PM1、工讀生2
    // 3. 業者3
}

@model WebApplication1.Models.Industry.Industry

<main class="container-wrap">
    <div class="container-main">
        <div class="tool-wrap">
            <div class="tool-btn">
                <button class="btn-cancel" type="button" onclick="location.href='@Url.Action("ResetPwd", "Login", new {id=Model.id_id})'">修改密碼</button>
            </div>
        </div>

        <div class="form-wrap">
            @using (Html.BeginForm("Edit", "Industry", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(x => x.id_id)

                var readOnlyAttribute = Model.id_review == "審核通過" ? new { @readonly = "readonly" } : null;

                <div class="form-main">
                    <div class="form-title">
                        <h3>修改旅宿業者資料</h3>
                    </div>

                    <div class="form-content">
                        <div class="form-flex">
                            <div class="form-group">
                                <div class="form-col">
                                    <div class="form-input">
                                        <label for="">旅宿名稱</label>
                                        <div class="input">
                                            @Html.TextBoxFor(x => x.id_name, new { @readonly = "readonly" })
                                        </div>
                                    </div>

                                    <div class="form-input">
                                        <label for="">統編</label>
                                        <div class="input">
                                            @Html.TextBoxFor(x => x.id_tax_id, new { @readonly = "readonly" })
                                        </div>
                                    </div>

                                    <div class="form-input">
                                        <label for="">房間數</label>
                                        <div class="input">
                                            @Html.TextBoxFor(x => x.id_room, new { @readonly = "readonly" })
                                        </div>
                                    </div>
                                </div>

                                <div class="form-col">
                                    <div class="form-input">
                                        <label for="">公司名稱</label>
                                        <div class="input">
                                            @Html.TextBoxFor(x => x.id_company, new { @readonly = "readonly" })
                                        </div>
                                    </div>

                                    <div class="form-input">
                                        <label for="">旅宿別</label>
                                        <div class="input">
                                            @Html.HiddenFor(x => x.id_it_id)
                                            @Html.TextBox("HotelTypeDescription", Model.HotelTypeDescription, new { @readonly = "@readonly" })
                                        </div>
                                    </div>

                                    <div class="form-input">
                                        <label for="">Email</label>
                                        <div class="input">
                                            @Html.TextBoxFor(x => x.id_email, new { @readonly = "readonly" })
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="form-col">
                                    <div class="form-input" style="padding-left:65px;">
                                        <label for="">地址</label>
                                        <div class="input" style="display:flex">

                                            <div style="width:100px;margin-right:15px;">
                                                @Html.TextBoxFor(x => x.id_postal_code, new { @readonly = "readonly" })
                                            </div>
                                            <div style="width:100px;margin-right:15px;">
                                                @Html.TextBoxFor(x => x.id_city, new { @readonly = "readonly" })
                                            </div>

                                            @Html.TextBoxFor(x => x.id_address, new { @readonly = "readonly" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="form-col">
                                    <div class="form-input">
                                        <label for="">公司電話</label>
                                        <div class="input">
                                            @Html.TextBoxFor(x => x.id_tel, new { @readonly = "readonly" })
                                        </div>
                                    </div>
                                </div>
                                <div class="form-col">
                                    <div class="form-input">
                                        <label for="">公司傳真</label>
                                        <div class="input">
                                            @Html.TextBoxFor(x => x.id_fax, new { @readonly = "readonly" })
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="form-col">
                                    <div class="form-input">
                                        <label class="required">承辦人</label>
                                        @if (Model.id_review == "審核通過")
                                        {
                                            <div class="input" style="display:flex">

                                                @Html.TextBoxFor(x => x.id_owner, new { @readonly = "readonly" })

                                            </div>
                                        }
                                        else
                                        {
                                            <div class="input" style="display:flex">

                                                @Html.TextBoxFor(x => x.id_owner, new { @required = "required" })

                                            </div>
                                        }
                                    </div>
                                </div>

                                <div class="form-col">
                                    <div class="form-input">
                                        <label class="required">承辦人電話</label>
                                        @if (Model.id_review == "審核通過")
                                        {
                                            <div class="input" style="display:flex">
                                                <div style="width:60px;margin-right:15px;">
                                                    @Html.TextBoxFor(x => x.id_owner_area_code, new { @readonly = "readonly" })
                                                </div>
                                                @Html.TextBoxFor(x => x.id_tel_owner, new { @readonly = "readonly" })
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="input" style="display:flex">
                                                <div style="width:60px;margin-right:15px;">
                                                    @Html.TextBoxFor(x => x.id_owner_area_code, new { @required = "required", @onkeydown = "return onlyNumber(event)" })
                                                </div>
                                                @Html.TextBoxFor(x => x.id_tel_owner, new { @required = "required", @onkeydown = "return onlyNumber(event)" })
                                            </div>
                                        }

                                    </div>
                                </div>

                                <div class="form-col">
                                    <div class="form-input">
                                        <label for="">承辦人分機</label>
                                        <div class="input">
                                            @Html.TextBoxFor(x => x.id_extension, readOnlyAttribute)
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="form-col">
                                    <div class="form-input">
                                        <label class="">承辦人手機</label>
                                        <div class="input">
                                            @if (Model.id_review == "審核通過")
                                            {
                                                @Html.TextBoxFor(x => x.id_owner_phone, new { @readonly = "readonly" })
                                            }
                                            else
                                            {
                                                @Html.TextBoxFor(x => x.id_owner_phone, new { @onkeydown = "return onlyNumber(event)" })
                                            }
                                        </div>
                                    </div>

                                    <div class="form-input">
                                        <label class="required">銀行名稱/分行</label>
                                        <div class="input">
                                            @Html.TextBoxFor(x => x.BankName, new { @required = "required" })
                                        </div>
                                    </div>

                                    <div class="form-input">
                                        <label class="required">銀行戶名</label>
                                        <div class="input">
                                            @if (Model.id_review == "審核通過")
                                            {
                                                @Html.TextBoxFor(x => x.id_bank_acct_name, new { @readonly = "readonly" })
                                            }
                                            else
                                            {
                                                @Html.TextBoxFor(x => x.id_bank_acct_name, new { @required = "required" })
                                            }
                                        </div>
                                    </div>

                                    <div class="form-input">
                                        <label class="required">銀行存摺</label>
                                        <div class="input file">
                                            @Html.TextBoxFor(x => x.id_passbook, new { @type = "file" })
                                            <span>@Model.id_passbook_name</span>
                                            <button class="onfile" type="button">上傳檔案</button>
                                            <div class="red-text">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-input">
                                        <label>商業登記或稅籍證明</label>
                                        <div class="input file">
                                            @Html.TextBoxFor(x => x.id_register, new { @type = "file" })
                                            <span>@Model.id_register_name</span>
                                            <button class="onfile" type="button">上傳檔案</button>
                                            <div class="red-text">
                                                <p>*說明:僅民宿業者須上傳<p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-input">
                                        <div class="red-text">
                                            <p>*說明:銀行存摺、商業登記或稅籍證明及營業執照或登記證請傳pdf或jpg圖檔，每次上傳限制為5M以內<p>
                                        </div>

                                    </div>
                                </div>

                                <div class="form-col">
                                    <div class="form-input">
                                        <label class="required">承辦人Email</label>
                                        <div class="input">
                                            @if (Model.id_review == "審核通過")
                                            {
                                                @Html.TextBoxFor(x => x.OwnerEmail, new { @readonly = "readonly" })
                                            }
                                            else
                                            {
                                                @Html.TextBoxFor(x => x.OwnerEmail, new { @required = "required" })
                                            }
                                        </div>
                                    </div>

                                    <div class="form-input">
                                        <label class="required">銀行代碼(7碼)</label>
                                        <div class="input">
                                            @Html.TextBoxFor(x => x.id_bank_code, new { @required = "required", @minlength = "7", @maxlength = "7", @onkeydown = "return onlyNumber(event)" })
                                            <a href="https://www.fisc.com.tw/TC/Service?Caid=51254999-5d15-4ddf-8e54-4b2cdb2a8399&CaStyleId=16%E6%9F%A5%E8%A9%A2" target="_blank">銀行代碼查詢</a>
                                        </div>
                                    </div>

                                    <div class="form-input">
                                        <label class="required">銀行帳號</label>
                                        <div class="input">
                                            @if (Model.id_review == "審核通過")
                                            {
                                                @Html.TextBoxFor(x => x.id_bank_acct, new { @readonly = "readonly" })
                                            }
                                            else
                                            {
                                                @Html.TextBoxFor(x => x.id_bank_acct, new { @required = "required", @onkeydown = "return onlyNumber(event)" })
                                            }

                                        </div>
                                    </div>

                                    <div class="form-input">
                                        <label class="required">營業執照或登記證</label>
                                        <div class="input file">
                                            @Html.TextBoxFor(x => x.id_license, new { @type = "file" })
                                            <span>@Model.id_license_name</span>
                                            <button class="onfile" type="button">上傳檔案</button>
                                            <div class="red-text">
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            @if (perm < 3 && perm >= 0)
                            {
                                <div class="form-group">
                                    <div class="form-col">
                                        <div class="form-input">
                                            <label for="">初審人員</label>
                                            <div class="input">
                                                <input type="text" name="name" value="XXX" readonly />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-col">
                                        <div class="form-input">
                                            <label for="">複審人員</label>
                                            <div class="input">
                                                <input type="text" name="name" value="999" readonly />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-col">
                                        <div class="form-input">
                                            <label for="">協會審查</label>
                                            <div class="input">
                                                <input type="text" name="name" value="999" readonly />
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group btn">
                                    <button class="btn-submit show-img" type="button">顯示存摺</button>
                                </div>
                            }


                            @if (perm < 3 && perm >= 0)
                            {
                                <div class="form-btn">
                                    <button class="btn-submit" type="button">審核</button>
                                </div>
                            }

                            <div class="form-btn">
                                <button class="btn-cancel" type="button" onclick="history.back()">返回</button>
                                <button class="btn-submit" type="submit" onclick="">儲存</button>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>

</main>

<div class="popup-wrap img">
    <div class="popup-main">
        <span class="popup-close">x</span>
        <div class="popup-content">
            <img src="https://fakeimg.pl/1000x500/ff0000,128/000,255">
        </div>
    </div>
</div>

<script>
    /*20231003 add by kevin*/
    $('#id_passbook').change(function () {
        if (this.files[0].size > 5000000) {
            alert("檔案大小超過5MB");
            $('#id_passbook').val('');
        }
    });
    $('#id_license').change(function () {
        if (this.files[0].size > 5000000) {
            alert("檔案大小超過5MB");
            $('#id_license').val('');
        }
    });
    $('#id_register').change(function () {
        if (this.files[0].size > 5000000) {
            alert("檔案大小超過5MB");
            $('#id_register').val('');
        }
    });
</script>
<script>
    $(function () {
        $('.show-img').on('click', function () {
            $('.popup-wrap.img').toggle();
        })
        $('.popup-wrap.img .popup-close').on('click', function () {
            $(this).parents('.popup-wrap.img').toggle();
        })
    })

    function onlyNumber(evt) {
        var e = event || evt;
        var keyCode = e.keyCode || e.which;
        if ((keyCode >= 48 && keyCode <= 57) || (keyCode >= 96 && keyCode <= 105) || keyCode == 8 || keyCode == 46 || keyCode == 37 || keyCode == 39) {
            return true;
        } else {
            e.preventDefault();
            return false;
        }
    }
</script>
