@{
    Layout = "~/Views/Shared/Layout.cshtml";

    int perm = Session["perm"] != null ? (int)Session["perm"] : -1;
    // 1. 無登入-1
    // 2. 管理者0、PM1、工讀生2
    // 3. 業者3

    var readonlyAttr = new Dictionary<string, object>();
    var disable = new Dictionary<string, object>();

    if (perm == 2)
    {
        readonlyAttr["readonly"] = "readonly";
        disable["disabled"] = "disabled";
    }

    string readonlyAttribute = (perm == 2) ? "readonly" : "false";

    var filePath = Url.Content("~/assets/upload/Industry/");
}

@model WebApplication1.Models.IndustryViewModel.IndustryModel
@using WebApplication1.HtmlHelpers

<main class="container-wrap">
    <div class="container-main">
        <div class="tool-wrap">
            <div class="tool-item left">
                <h3>首頁＞基本資料＞詳細資料</h3>
            </div>

            @if (perm == 0 || perm == 1)
            {
                <div class="tool-btn">
                    <button class="btn-cancel" type="button" onclick="location.href='@Url.Action("ResetPassword", "Login", new { industryID = Model.Industry.id_id, perm = 3 })'">修改密碼</button>
                </div>
            }
        </div>

        <div class="form-wrap">
            @using (Html.BeginForm("Edit_Manager", "Industry", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(x => x.Industry.id_id)

                <div class="form-main">
                    <div class="form-title">
                        <h3>新增及修改旅宿業者基本資料</h3>
                    </div>

                    <div class="form-content">
                        <div class="form-flex">
                            <div class="form-group">
                                <div class="form-col">
                                    <div class="form-input">
                                        <label for="">旅宿名稱</label>
                                        <div class="input">
                                            @Html.TextBoxFor(x => x.Industry.id_name, readonlyAttr)
                                        </div>
                                    </div>

                                    <div class="form-input">
                                        <label for="">統編</label>
                                        <div class="input">
                                            @Html.TextBoxFor(x => x.Industry.id_tax_id, readonlyAttr)
                                        </div>
                                    </div>

                                    <div class="form-input">
                                        <label for="">房間數</label>
                                        <div class="input">
                                            @Html.TextBoxFor(x => x.Industry.id_room, readonlyAttr)
                                        </div>
                                    </div>
                                </div>

                                <div class="form-col">
                                    <div class="form-input">
                                        <label for="">公司名稱</label>
                                        <div class="input">
                                            @Html.TextBoxFor(x => x.Industry.id_company, readonlyAttr)
                                        </div>
                                    </div>

                                    <div class="form-input">
                                        <label for="">旅宿別</label>
                                        <div class="dropdown-padding">@Html.DropDownListFor(x => x.Industry.id_it_id, Model.IndustryTypeOptions, "旅宿別", disable)</div>
                                    </div>

                                    <div class="form-input">
                                        <label for="">Email</label>
                                        <div class="input">
                                            @Html.TextBoxFor(x => x.Industry.id_email, readonlyAttr)
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="form-col">
                                    <div class="form-input" style="padding-left:65px;">
                                        <label for="">地址</label>
                                        <div class="input" style="display:flex">

                                            <div style="width:100px;margin-right:15px;">
                                                @Html.TextBoxFor(x => x.Industry.id_postal_code, readonlyAttr)
                                            </div>
                                            <div style="width:100px;margin-right:15px;">
                                                @Html.TextBoxFor(x => x.Industry.id_city, readonlyAttr)
                                            </div>

                                            @Html.TextBoxFor(x => x.Industry.id_address, readonlyAttr)
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="form-col">
                                    <div class="form-input">
                                        <label for="">公司電話</label>
                                        <div class="input">
                                            @Html.TextBoxFor(x => x.Industry.id_tel, readonlyAttr)
                                        </div>
                                    </div>
                                </div>

                                <div class="form-col">
                                    <div class="form-input">
                                        <label for="">公司傳真</label>
                                        <div class="input">
                                            @Html.TextBoxFor(x => x.Industry.id_fax, readonlyAttr)
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="form-col">
                                    <div class="form-input">
                                        <label class="required">承辦人</label>
                                        <div class="input" style="display:flex">
                                            @Html.TextBoxFor(x => x.Industry.id_owner, readonlyAttr)
                                        </div>
                                    </div>
                                </div>

                                <div class="form-col">
                                    <div class="form-input">
                                        <label class="required">承辦人電話</label>
                                        <div class="input" style="display:flex">
                                            <div style="width:60px;margin-right:15px;">
                                                @Html.TextBoxFor(x => x.Industry.id_owner_area_code, readonlyAttr)
                                            </div>
                                            @Html.TextBoxFor(x => x.Industry.id_tel_owner, readonlyAttr)
                                        </div>
                                    </div>
                                </div>

                                <div class="form-col">
                                    <div class="form-input">
                                        <label for="">承辦人分機</label>
                                        <div class="input">
                                            @Html.TextBoxFor(x => x.Industry.id_extension, readonlyAttr)
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="form-col">
                                    <div class="form-input">
                                        <label class="">承辦人手機</label>
                                        <div class="input">
                                            @Html.TextBoxFor(x => x.Industry.id_owner_phone, readonlyAttr)
                                        </div>
                                    </div>

                                    <div class="form-input">
                                        <label class="required">銀行名稱/分行</label>
                                        <div class="input">
                                            @Html.TextBoxFor(x => x.Industry.id_bank_name, readonlyAttr)
                                        </div>
                                    </div>

                                    <div class="form-input">
                                        <label class="required">銀行戶名</label>
                                        <div class="input">
                                            @Html.TextBoxFor(x => x.Industry.id_bank_acct_name, readonlyAttr)
                                        </div>
                                    </div>

                                    <div class="form-input">
                                        <label>銀行存摺</label>

                                        <div class="dropdown-padding">@Html.DropDownListFor(x => x.Industry.id_review_passbook, Model.ReviewOptions, "審核狀態")</div>

                                        @*@if (!string.IsNullOrEmpty(Model.Industry.id_passbook))
                                            {
                                                <a href="@filePath@Model.Industry.id_passbook" target="_blank">
                                                    <img src="@filePath@Model.Industry.id_passbook" alt="尚未上傳" style="height:50px; width:100px;" />
                                                </a>
                                            }*@

                                        @if (!string.IsNullOrEmpty(Model.Industry.id_passbook))
                                        {
                                            var fileExtension = Path.GetExtension(Model.Industry.id_passbook).ToLower();
                                            var imagePath = "";

                                            if (fileExtension == ".png" || fileExtension == ".jpg")
                                            {
                                                imagePath = @filePath + Model.Industry.id_passbook;
                                            }
                                            else if (fileExtension == ".pdf")
                                            {
                                                imagePath = @Url.Content("~/assets/img/PDF縮圖.png");
                                            }

                                            if (!string.IsNullOrEmpty(imagePath))
                                            {
                                                <a href="@filePath@Model.Industry.id_passbook" target="_blank">
                                                    <img src="@imagePath" alt="尚未上傳" style="height:50px; width:100px;" />
                                                </a>
                                            }
                                        }


                                    </div>

                                    <div class="form-input">
                                        <div class="input file">
                                            @Html.HiddenFor(x => x.Industry.id_passbook)
                                            @Html.HiddenFor(x => x.Industry.id_passbook_name)

                                            @if (perm == 0 || perm == 1)
                                            {
                                                @Html.TextBoxFor(x => x.PassBookFile, new { @type = "file" })
                                                <span>@Model.Industry.id_passbook_name</span>
                                                <button class="onfile" type="button">上傳檔案</button>
                                            }
                                        </div>
                                    </div>

                                    <div class="form-input">
                                        <label>商業登記或稅籍證明</label>

                                        <div class="dropdown-padding">@Html.DropDownListFor(x => x.Industry.id_review_register, Model.ReviewOptions, "審核狀態")</div>

                                        @*@if (!string.IsNullOrEmpty(Model.Industry.id_register))
                                            {
                                                <a href="@filePath@Model.Industry.id_register" target="_blank">
                                                    <img src="~/assets/img/PDF縮圖.png" alt="尚未上傳" style="height:50px; width:100px;" />
                                                </a>
                                            }*@

                                        @if (!string.IsNullOrEmpty(Model.Industry.id_register))
                                        {
                                            var fileExtension = Path.GetExtension(Model.Industry.id_register).ToLower();
                                            var imagePath = "";

                                            if (fileExtension == ".png" || fileExtension == ".jpg")
                                            {
                                                imagePath = @filePath + Model.Industry.id_register;
                                            }
                                            else if (fileExtension == ".pdf")
                                            {
                                                imagePath = @Url.Content("~/assets/img/PDF縮圖.png");
                                            }

                                            if (!string.IsNullOrEmpty(imagePath))
                                            {
                                                <a href="@filePath@Model.Industry.id_register" target="_blank">
                                                    <img src="@imagePath" alt="尚未上傳" style="height:50px; width:100px;" />
                                                </a>
                                            }
                                        }

                                    </div>

                                    <div class="form-input">
                                        <div class="input file">
                                            @Html.HiddenFor(x => x.Industry.id_register)
                                            @Html.HiddenFor(x => x.Industry.id_register_name)

                                            @if (perm == 0 || perm == 1)
                                            {
                                                @Html.TextBoxFor(x => x.RegisterFile, new { @type = "file" })
                                                <span>@Model.Industry.id_register_name</span>
                                                <button class="onfile" type="button">上傳檔案</button>
                                                <div class="red-text">
                                                    <p>*說明:僅民宿業者須上傳<p>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>

                                <div class="form-col">
                                    <div class="form-input">
                                        <label class="required">承辦人Email</label>
                                        <div class="input">
                                            @Html.TextBoxFor(x => x.Industry.id_owner_email, readonlyAttr)
                                        </div>
                                    </div>

                                    <div class="form-input">
                                        <label class="required">銀行代碼(7碼)</label>
                                        <div class="input">
                                            @Html.TextBoxForWithReadonly(x => x.Industry.id_bank_code, perm == 2, new { @minlength = "7", @maxlength = "7", @oninput = "this.value = this.value.replace(/[^0-9]/g, '').slice(0, this.maxLength)" })

                                            <a href="https://www.fisc.com.tw/TC/Service?Caid=51254999-5d15-4ddf-8e54-4b2cdb2a8399&CaStyleId=16%E6%9F%A5%E8%A9%A2" target="_blank">銀行代碼查詢</a>
                                        </div>
                                    </div>

                                    <div class="form-input">
                                        <label class="required">銀行帳號</label>
                                        <div class="input">
                                            @Html.TextBoxForWithReadonly(x => x.Industry.id_bank_acct, perm == 2, new { @type = "number" })
                                        </div>
                                    </div>

                                    <div class="form-input">
                                        <label>營業執照或登記證</label>

                                        <div class="dropdown-padding">@Html.DropDownListFor(x => x.Industry.id_review_license, Model.ReviewOptions, "審核狀態")</div>

                                        @*@if (!string.IsNullOrEmpty(Model.Industry.id_license))
                                            {
                                                <a href="@filePath@Model.Industry.id_license" target="_blank">
                                                    <img src="~/assets/img/PDF縮圖.png" alt="尚未上傳" style="height:50px; width:100px;" />
                                                </a>
                                            }*@

                                        @if (!string.IsNullOrEmpty(Model.Industry.id_license))
                                        {
                                            var fileExtension = Path.GetExtension(Model.Industry.id_license).ToLower();
                                            var imagePath = "";

                                            if (fileExtension == ".png" || fileExtension == ".jpg")
                                            {
                                                imagePath = @filePath + Model.Industry.id_license;
                                            }
                                            else if (fileExtension == ".pdf")
                                            {
                                                imagePath = @Url.Content("~/assets/img/PDF縮圖.png");
                                            }

                                            if (!string.IsNullOrEmpty(imagePath))
                                            {
                                                <a href="@filePath@Model.Industry.id_license" target="_blank">
                                                    <img src="@imagePath" alt="尚未上傳" style="height:50px; width:100px;" />
                                                </a>
                                            }
                                        }
                                    </div>

                                    <div class="form-input">
                                        <div class="input file">
                                            @Html.HiddenFor(x => x.Industry.id_license)
                                            @Html.HiddenFor(x => x.Industry.id_license_name)

                                            @if (perm == 0 || perm == 1)
                                            {
                                                @Html.TextBoxFor(x => x.LicenseFile, new { @type = "file" })
                                                <span>@Model.Industry.id_license_name</span>
                                                <button class="onfile" type="button">上傳檔案</button>
                                            }
                                        </div>
                                    </div>

                                    <div class="form-input">
                                        <label>營業狀態</label>
                                        <div class="dropdown-padding">@Html.DropDownListFor(x => x.Industry.id_business_status, Model.BusinessStatus)</div>
                                    </div>

                                    <div class="form-input">
                                        <label>經營者</label>
                                        <div class="dropdown-padding">@Html.TextBoxFor(x => x.Industry.id_operator)</div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="form-col">
                                    <div class="form-input">
                                        <label for="">初審人員</label>
                                        <div class="input">
                                            <input value="@(Model.InitialReviewer?.mg_name)" readonly />
                                        </div>
                                    </div>
                                </div>


                                <div class="form-col">
                                    @if (perm == 0 || perm == 1)
                                    {
                                        <div class="form-input">
                                            <label for="">複審人員</label>
                                            <div class="input">
                                                <input value="@(Model.SecondaryReviewer?.mg_name)" readonly />
                                            </div>
                                        </div>
                                    }
                                </div>

                                <div class="form-col">
                                    @if (perm == 0 || perm == 1)
                                    {
                                        <div class="form-input">
                                            <label for="">協會審查</label>
                                            <div class="input">
                                                <input value="@(Model.AssociationReviewer?.mg_name)" readonly />
                                            </div>
                                        </div>
                                    }
                                </div>


                            </div>

                            <div class="form-btn">
                                <button class="btn-cancel" type="button" onclick="history.back()">返回</button>
                                <button class="btn-submit" type="submit" onclick="">儲存</button>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>

</main>

<script src="~/Scripts/common.js"></script>

<script>
    checkFileSize('#PassBookFile', 5000000);
    checkFileSize('#RegisterFile', 5000000);
    checkFileSize('#License', 5000000);

    $(function () {
        $('.show-img').on('click', function () {
            $('.popup-wrap.img').toggle();
        })
        $('.popup-wrap.img .popup-close').on('click', function () {
            $(this).parents('.popup-wrap.img').toggle();
        })
    })
</script>
