@model WebApplication1.Models.SubsidyEdit

@{
    Layout = "~/Views/Shared/Layout.cshtml";

    int perm = Session["perm"] != null ? (int)Session["perm"] : 3;
    // 1. 無登入-1
    // 2. 管理者0、PM1、工讀生2
    // 3. 業者
}

<main class="container-wrap">
    <div class="container-main">
        <div class="form-wrap">
            @using (Html.BeginForm("Create", "Subsidy", FormMethod.Post, new { id = "myForm", enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(x => x.id_id)
                <div class="form-main">
                    <div class="form-title">
                        <h3>新增補助申請</h3>
                    </div>

                    <div class="form-content">
                        <div class="form-flex">
                            <div class="form-group">
                                <div class="form-col">
                                    <div class="form-input">
                                        <label class="required">申請補助日期 <!--申請補助月份(起)--></label>
                                        <div class="input date">
                                            @Html.TextBoxFor(x => x.Date, new { @type = "date", @required = "required" })
                                        </div>
                                    </div>

                                    <div class="form-input">
                                        <label class="required">申請書</label>
                                        <div class="input file">
                                            @Html.TextBoxFor(x => x.Application, new { @type = "file", @required = "required", @accept = ".pdf" })
                                            <span></span>
                                            <button class="onfile" type="button">上傳檔案</button>
                                            <div class="red-text">
                                                <p>*說明:請傳pdf或jpg圖檔，每次上傳限制為5M以內<p>
                                            </div>
                                        </div>

                                        <label class="demo-file">
                                            <a href="~/assets/sample/申請書(範本檔).pdf" download>範本檔</a>
                                        </label>
                                    </div>

                                    <div class="form-input">
                                        <label for="file1">全公司勞保明細</label>
                                        <div class="input file">
                                            @Html.TextBoxFor(x => x.Labor, new { @type = "file", @accept = ".pdf" })
                                            <span></span>
                                            <button class="onfile" type="button">上傳檔案</button>
                                            <div class="red-text">
                                                <p>*說明:請傳pdf或jpg圖檔，每次上傳限制為5M以內<p>
                                            </div>
                                        </div>

                                        <label class="demo-file">
                                            <a href="~/assets/sample/全公司勞保明細(範本檔).pdf" download>範本檔</a>
                                        </label>
                                    </div>

                                    <div class="form-input">
                                        <label class="required">建立全公司勞保清冊</label>
                                        <div class="input file">
                                            @Html.TextBoxFor(x => x.EmployeeList, new { @type = "file", @required = "required", @accept = ".xlsx" })
                                            <span></span>
                                            <button class="onfile" type="button">上傳檔案</button>
                                            <div class="red-text">
                                                <p>*說明:本欄位請依範例上傳EXCEL<p>
                                            </div>
                                        </div>

                                        <label class="demo-file">
                                            <a href="~/assets/sample/全公司勞保清冊(範本檔).xlsx" download>範本檔</a>
                                        </label>
                                    </div>

                                    <div class="form-input">
                                        <div class="red-text">
                                            <p>提醒:<p><br />
                                            <p>1.第一次申請時,請提供申請人員6個月以上投保證明</p><br />
                                            <p>2.第二次及以後申請時,請附申請月份的當月在保證明</p><br />
                                        </div>
                                    </div>

                                    <div class="form-input">
                                        <label class="required">申請人員清冊</label>
                                        <div class="input file">
                                            @Html.TextBoxFor(x => x.ApplicantsList, new { @type = "file", @required = "required", @accept = ".xlsx" })
                                            <span></span>
                                            <button class="onfile" type="button">上傳檔案</button>
                                            <div class="red-text">
                                                <p>*說明:本欄位請依範例上傳CSV格式<p>
                                            </div>
                                        </div>

                                        <label class="demo-file">
                                            <a href="~/assets/sample/申請人員清冊(範本檔).xlsx" download>範本檔</a>
                                        </label>
                                    </div>

                                    <div class="form-input">
                                        <label class="required">申請金額</label>
                                        <div class="input">
                                            @Html.TextBoxFor(x => x.Money, new { @type = "number", @required = "required" })
                                        </div>
                                    </div>
                                    <div class="form-input">
                                        <div class="red-text">
                                            <p>說明: 請依規定符合資格者每人每月補助5000元<p><br />
                                       
                                        </div>
                                    </div>
                                    
                                </div>

                                <div class="form-col">
                                    <div class="form-input">
                                        <label class="">~<!--申請補助月份(迄)--></label>
                                        <div class="input date">
                                            @Html.TextBoxFor(x => x.s_date_time_end, new { @type = "date", @required = "required" })
                                        </div>
                                    </div>

                                    <div class="form-input">
                                        <label class="required">切結書</label>
                                        <div class="input file">
                                            @Html.TextBoxFor(x => x.Affidavit, new { @type = "file", @required = "required", @accept = ".pdf" })
                                            <span></span>
                                            <button class="onfile" type="button">上傳檔案</button>
                                            <div class="red-text">
                                                <p>*說明:請傳pdf或jpg圖檔，每次上傳限制為5M以內<p>
                                            </div>
                                        </div>

                                        <label class="demo-file">
                                            <a href="~/assets/sample/切結書(範本檔).pdf" download>範本檔</a>
                                        </label>
                                    </div>

                                    <div class="form-input">
                                        <label class="required">領據</label>
                                        <div class="input file">
                                            @Html.TextBoxFor(x => x.Receipt, new { @type = "file", @required = "required", @accept = ".pdf" })
                                            <span></span>
                                            <button class="onfile" type="button">上傳檔案</button>
                                            <div class="red-text">
                                                <p>*說明:請傳pdf或jpg圖檔，每次上傳限制為5M以內<p>
                                            </div>
                                        </div>

                                        <label class="demo-file">
                                            <a href="~/assets/sample/領據(範本檔).pdf" download>範本檔</a>
                                        </label>
                                    </div>

                                    <div class="form-input">
                                        <label for="file5">其他文件</label>
                                        <div class="input file">
                                            @Html.TextBoxFor(x => x.OtherFile, new { @type = "file", @accept = "" })
                                            <span></span>
                                            <button class="onfile" type="button">上傳檔案</button>
                                        </div>
                                    </div>

                                    <div class="form-input">
                                        <label class="required">申請人數</label>
                                        <div class="input">
                                            @Html.TextBoxFor(x => x.EmpCount, new { @type = "number", @required = "required" })
                                        </div>
                                        <label>可申請人數：@(ViewBag.Maxmember-ViewBag.SubMemberCount) </label>
                                    </div>

                                    <div class="form-input">
                                        <div class="red-text">
                                            <p>說明:每家觀光旅館、旅館及民宿申請補助之總人數不得超過房間數八分之一;不足1人者,以1人計</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-btn">
                    <button class="btn-cancel" type="button" onclick="history.back()">返回</button>
                    <button class="btn-submit" type="submit">下一步</button>
                </div>
            }
        </div>
    </div>
</main>

<script>
    $(function () {
        $('.checkbox-wrap input[type="checkbox"]').on('change', function () {
            $(this).siblings('.btn-correct').toggleClass('correct').toggleClass('notyet')
        })
    })
</script>

<script>
    $('#myForm').submit(function () {
        $('#myForm input').attr('required', false)
    })
</script>


