@model WebApplication1.Models.SubsidyEdit

@{
    Layout = "~/Views/Shared/Layout.cshtml";

    int perm = Session["perm"] != null ? (int)Session["perm"] : -1;
    // 1. 無登入-1
    // 2. 管理者0、PM1、工讀生2
    // 3. 業者3
    var MemberList = (List<WebApplication1.Models.SubMembersEdit>)ViewBag.SubMemberList;
}

<main class="container-wrap">
    <div class="container-main">
        <div class="form-wrap">
            @using (Html.BeginForm("Edit", "Subsidy", FormMethod.Post, new { id = "myForm", enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(x => x.s_id)
                @Html.HiddenFor(x => x.id_id)

                <div class="form-main">
                    <div class="form-title">
                        <h3>修改補助申請</h3>
                    </div>

                    <div class="form-content">
                        <div class="form-flex">
                            <div class="form-group">
                                <div class="form-col">
                                    <div class="form-input">
                                        <label class="required">申請文件</label>
                                        <div class="input file">
                                            @Html.TextBoxFor(x => x.Application, new { @type = "file", @accept = ".pdf" })

                                            <span>@Model.ApplicationName</span>

                                            <button class="onfile" type="button">上傳檔案</button>

                                            <div class="red-text">
                                                <p>*說明:包含申請書、切結書和領據需在同一文件,請傳pdf或jpg圖檔，每次上傳限制為5M以內<p>
                                            </div>
                                        </div>

                                        <label class="demo-file">
                                            <a href="~/assets/sample/申請書(範本檔).pdf" download>範本檔</a>
                                        </label>
                                    </div>

                                    <div class="form-input">
                                        <label class="required">全公司勞保明細</label>
                                        <div class="input file">
                                            @Html.TextBoxFor(x => x.Labor, new { @type = "file", @accept = ".pdf" })
                                            <span>@Model.LaborName</span>
                                            <button class="onfile" type="button">上傳檔案</button>
                                            <div class="red-text">
                                                <p>*說明:請傳pdf或jpg圖檔，每次上傳限制為5M以內<p>
                                            </div>
                                        </div>

                                        <label class="demo-file">
                                            <a href="~/assets/sample/勞保人員名冊(範本檔).pdf" download>範本檔</a>
                                        </label>
                                    </div>

                                    <div class="form-input">
                                        <label class="required">建立全公司勞保清冊</label>
                                        <div class="input file">
                                            @Html.TextBoxFor(x => x.EmployeeList, new { @type = "file", @accept = ".xlsx" })
                                            <span>@Model.EmployeeListName</span>
                                            <button class="onfile" type="button">上傳檔案</button>
                                            <div class="red-text">
                                                <p>*說明:本欄位請依範例上傳EXCEL<p>
                                            </div>
                                        </div>

                                        <label class="demo-file">
                                            <a href="~/assets/sample/員工清冊(範本檔).xlsx" download>範本檔</a>
                                        </label>
                                    </div>

                                    <div class="form-input">
                                        <div class="red-text">
                                            <p>提醒:<p><br />
                                            <p>1.第一次申請時,請提供申請人員6個月以上投保證明</p><br />
                                            <p>2.第二次及以後申請時,請附申請月份的當月在保證明</p><br />
                                            <p>3.全公司勞保明細請至勞保局申請上月最後一天的勞保明細，並根據勞保明細之勞保序號為順序，登打建立全公司勞保清冊<p>
                                        </div>
                                    </div>

                                    <div class="form-input">
                                        <label class="required">申請補助人員清冊</label>
                                        <div class="input file">
                                            @Html.TextBoxFor(x => x.ApplicantsList, new { @type = "file", @accept = ".xlsx" })
                                            <span>@Model.ApplicantsListName</span>
                                            <button class="onfile" type="button">上傳檔案</button>
                                            <div class="red-text">
                                                <p>*說明:申請補助人員清冊請務必按照範本檔提供之格式登打，確定存成csv格式再上傳<p>
                                                <p>*說明:本欄位請依範例上傳CSV格式<p>
                                            </div>
                                        </div>

                                        <label class="demo-file">
                                            <a href="~/assets/sample/申請人員清冊(範本檔).xlsx" download>範本檔</a>
                                        </label>
                                    </div>

                                </div>

                                <div class="form-col">
                                    <div class="form-input">
                                        <label class="required">申請金額</label>
                                        <div class="input">
                                            @Html.TextBoxFor(x => x.Money, new { @type = "number", @required = "required" })
                                        </div>
                                    </div>

                                    <div class="form-input">
                                        <div class="red-text">
                                            <p>說明:請依規定符合資格者每人每月5000元</p>
                                        </div>
                                    </div>

                                    <div class="form-input">
                                        <label class="required">申請人數</label>
                                        <div class="input">
                                            @Html.TextBoxFor(x => x.EmpCount, new { @type = "number", @required = "required" })
                                        </div>
                                        <label>可申請人數：@(ViewBag.Maxmember-ViewBag.SubMemberCount) </label>
                                    </div>

                                    <div class="form-input">
                                        <div class="red-text">
                                            <p>說明:每個申請單位申請補助之總人數不得超過房間數八分之一;不足1人者,以1人計</p>
                                        </div>
                                    </div>


                                    <div class="form-input">
                                        <label for="file5">補件資料1</label>

                                        <div class="input file">
                                            @Html.TextBoxFor(x => x.OtherFile, new { @type = "file", @accept = "" })
                                            <span>@Model.OtherFileName</span>
                                            <button class="onfile" type="button">上傳檔案</button>
                                        </div>
                                    </div>
                                    <div class="form-input">
                                        <label for="file5">補件資料2</label>
                                        <div class="input file">
                                            @Html.TextBoxFor(x => x.s_else_two, new { @type = "file", @accept = "" })
                                            <span>@Model.s_else_two_name</span>
                                            <button class="onfile" type="button">上傳檔案</button>
                                        </div>
                                    </div>

                                    <div class="form-input">
                                        <label for="file5">補件資料3</label>
                                        <div class="input file">
                                            @Html.TextBoxFor(x => x.s_else_three, new { @type = "file", @accept = "" })
                                            <span>@Model.s_else_three_name</span>
                                            <button class="onfile" type="button">上傳檔案</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            @if ((int)Session["perm"] < 3)
                            {
                                <div class="form-group">
                                    <div class="form-col">
                                        <!-- 初審人員 -->
                                        <div class="form-input">
                                            <label for="">初審人員</label>
                                            <div class="input">
                                                <input type="text" readonly>
                                            </div>
                                        </div>

                                        <!-- 複審人員 -->
                                        <div class="form-input">
                                            <label for="">複審人員</label>
                                            <div class="input">
                                                <input type="text" readonly>
                                            </div>
                                        </div>

                                        <!-- 協會審查 -->
                                        <div class="form-input">
                                            <label for="">協會審查</label>
                                            <div class="input">
                                                <input type="text" readonly>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-col">
                                        <!-- 審核狀態 -->
                                        <div class="form-input">
                                            <label for="">審核狀態</label>
                                            <div class="input">
                                                <input type="text" readonly value="通過">
                                            </div>
                                        </div>

                                        <!-- 最後修改時間 -->
                                        <div class="form-input">
                                            <label for="">最後修改時間</label>
                                            <div class="input">
                                                <input type="text" readonly value="2023/08/18">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }

                            <div class="form-hgroup">
                                <div class="form-head">
                                    <h2>申請人員名單</h2>
                                </div>

                                <div class="form-list">
                                    <div class="list-wrap">
                                        <div class="list-overflow">
                                            <div class="list-main order-view maxheight-none">
                                                <div class="list-title">
                                                    <div class="f-1">
                                                        合格
                                                    </div>
                                                    <div class="f-1 ta-left ml-6">人員名稱</div>
                                                    <div class="f-1">身分證</div>
                                                    <div class="f-1">出生年</div>
                                                    <div class="f-1">加保日期</div>
                                                    <div class="f-1">退保日期</div>
                                                    <div class="f-1">已滿月數</div>
                                                    <div class="f-1 ta-right">投保薪資</div>
                                                    <div class="f-1 ta-left ml-6">備註</div>
                                                </div>

                                                @if (MemberList != null && MemberList.Count() > 0)
                                                {
                                                    foreach (var member in MemberList)
                                                    {
                                                        <div class="list-cont people-list">
                                                            <div class="list-row">
                                                                <div class="f-1">
                                                                    <div class="checkbox-wrap pr-0">
                                                                        <input type="checkbox" name="" id="p1" onclick="return false">
                                                                        <label for="p1" class="btn-correct notyet"></label>
                                                                    </div>
                                                                </div>

                                                                <div class="f-1 ta-left ml-6">@member.mb_name</div>
                                                                <div class="f-1">@member.mb_id_card</div>
                                                                <div class="f-1">@member.mb_birthday</div>
                                                                <div class="f-1">
                                                                    @if (member.mb_add_insur_date != null)
                                                                    {@Html.Raw(((DateTime)member.mb_add_insur_date).ToString("yyyy/MM/dd"))}
                                                                </div>
                                                                <div class="f-1">
                                                                    @if (member.mb_surrender_date != null)
                                                                    {@Html.Raw(((DateTime)member.mb_surrender_date).ToString("yyyy/MM/dd"))}
                                                                </div>
                                                                <div class="f-1"></div>
                                                                <div class="f-1 ta-right">@member.mb_insur_salary</div>
                                                                <div class="f-1 ta-left ml-6">@member.mb_memo</div>
                                                            </div>
                                                        </div>
                                                    }
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-btn">
                    <button class="btn-cancel" type="button" onclick="history.back()">返回</button>
                    @if (perm >= 0 && perm <= 2)
                    {
                        <button class="btn-submit" type="button">初審</button>
                        <button class="btn-submit" type="button">複審</button>
                    }
                    else
                    {
                        <button class="btn-submit" type="submit">儲存</button>
                    }
                </div>
            }
        </div>
    </div>
</main>

<script>
    $(function () {
        $('.checkbox-wrap input[type="checkbox"]').on('change', function () {
            $(this).siblings('.btn-correct').toggleClass('correct').toggleClass('notyet')
        })
    })
</script>
<script>
    /*20231003 add by kevin*/
    $('#Application').change(function () {
        if (this.files[0].size > 5000000) {
            alert("檔案大小超過5MB");
            $('#Application').val('');
        }
    });
    $('#Labor').change(function () {
        if (this.files[0].size > 5000000) {
            alert("檔案大小超過5MB");
            $('#Labor').val('');
        }
    });
    $('#EmployeeList').change(function () {
        if (this.files[0].size > 5000000) {
            alert("檔案大小超過5MB");
            $('#EmployeeList').val('');
        }
    });
    $('#ApplicantsList').change(function () {
        if (this.files[0].size > 5000000) {
            alert("檔案大小超過5MB");
            $('#ApplicantsList').val('');
        }
    });
    $('#OtherFile').change(function () {
        if (this.files[0].size > 5000000) {
            alert("檔案大小超過5MB");
            $('#OtherFile').val('');
        }
    });
    $('#s_else_two').change(function () {
        if (this.files[0].size > 5000000) {
            alert("檔案大小超過5MB");
            $('#s_else_two').val('');
        }
    });
    $('#s_else_three').change(function () {
        if (this.files[0].size > 5000000) {
            alert("檔案大小超過5MB");
            $('#s_else_three').val('');
        }
    });
</script>

