@{
    Layout = "~/Views/Shared/Layout.cshtml";

    int perm = Session["perm"] != null ? (int)Session["perm"] : -1;
    // 1. 無登入-1
    // 2. 管理者0、PM1、工讀生2
    // 3. 業者3

}

@model WebApplication1.Models.SubsidyIndexViewModel
@using PagedList.Mvc;
@using PagedList;

<script>
    function showPerson(id, person_id) {
        $("#Review" + id).val(person_id);
    }
</script>

<main class="container-wrap">
    <div class="container-main">
        <div class="tool-wrap">
            <div class="tool-item left">
                <h3>首頁>補助申請</h3>
            </div>

            <div class="tool-item">
                @if (perm == 3)
                {
                    @*<label>可申請人數餘額：<span>@ViewBag.MemberCount / @ViewBag.Maxmember</span> </label>*@
                    <div style="padding-left:65px;margin-bottom:32px;">
                        <p>已申請成功者@(ViewBag.SubMemberCount)/尚可申請人數@(ViewBag.Remaining) </p>
                    </div>

                    <div class="tool-btn">
                        <button class="btn-add" onClick="window.location.href='@Url.Action("Create", "Subsidy", new {id_id=ViewBag.IndustryId})'">新增</button>
                    </div>
                }
                else if (perm >= 0 && perm < 3)
                {
                    using (Html.BeginForm("Index", "Subsidy", FormMethod.Get))
                    {
                        <div class="tool-btn">
                            <input name="key" type="text" placeholder="請輸入關鍵字搜尋">
                            <select name="review" style="margin-left:20px">
                                <option value="">--審核狀態--</option>
                                <option value="待審核">待審核</option>
                                <option value="審核中">審核中</option>
                                <option value="待補件">待補件</option>
                                <option value="退件">退件</option>
                                <option value="審核完成">審核完成</option>
                            </select>
                            <button class="btn-add" type="submit">搜尋</button>
                        </div>
                    }
                }
            </div>
        </div>

        @if ((string)Session["userReview"] != "審核完成" && perm == 3)
        {
            <div style="color:red;float:right; margin-bottom:10px;">基本資料 (未建置完整),請寫基本資料</div>
        }

        <div class="container-nav">
            <a href="@Url.Action("Index","Subsidy")" class="is-active">申請補助列表</a>
            <a href="@Url.Action("Index","SubMembers")">補助申請人員</a>
        </div>

        <div class="list-wrap">
            <div class="list-overflow">
                <div class="list-main">
                    <div class="list-title pr-2 pl-2">
                        <div class="f-3">案號</div>

                        @if (perm < 3)
                        {
                            <div class="f-3">公司名稱</div>
                        }

                        <div class="f-3">承辦人</div>
                        <div class="f-3">申請金額</div>
                        <div class="f-3">撥款日期</div>
                        <div class="f-3">審核狀態</div>

                        @if (perm == 3)
                        {
                            <div class="f-1">詳細</div>
                            <div class="f-1">人員</div>
                            <div class="f-1">修改</div>
                        }
                        else
                        {
                            <div class="f-1">詳細資料</div>
                            <div class="f-1">審核紀錄</div>
                        }

                        @if (perm == 0 || perm == 1)
                        {
                            <div class="f-3">分案</div>

                        }

                        @if (perm != 2)
                        {
                            <div class="f-1">刪除</div>
                        }

                    </div>

                    @foreach (var data in Model.Subsidies)
                    {
                        <div class="list-row pr-2 pl-2">
                            <div class="f-3">@data.Subsidy.s_no</div>

                            @if (perm < 3)
                            {
                                <div class="f-3">
                                    @if (data.Industry.id_review == "通過")
                                    {
                                        @(data.Industry.id_name+"(已審核)");
                                    }
                                    else
                                    {
                                        <a href="@Url.Action("Edit_Manager","Industry",new {industryID=data.Industry.id_id})" target="_blank">@data.Industry.id_name</a>
                                    }
                                </div>
                            }

                            <div class="f-3">@data.Industry.id_owner</div>
                            <div class="f-3">@data.Subsidy.s_money</div>
                            <div class="f-3">
                                @if (data.Subsidy.s_grant_date == null)
                                {
                                    <span>無</span>
                                }
                                else
                                {
                                    <span>@(data.Subsidy.s_grant_date?.ToString("yyyy/MM/dd"))</span>
                                }
                            </div>

                            <div class="f-3">@data.Subsidy.s_review_fst</div>

                            @if (perm == 3)
                            {
                                <div class="f-1">
                                    <button class="btn-details" onClick="location.href='@Url.Action("Detail", "Subsidy", new {id=data.Subsidy.s_id})';event.stopPropagation();"></button>
                                </div>
                                <div class="f-1">
                                    <button class="btn-members" onClick="location.href='@Url.Action("Index", "SubMembers", new {id=data.Subsidy.s_id})';event.stopPropagation();"></button>
                                </div>

                                <div class="f-1">
                                    @if (data.Subsidy.s_review_fst== "退件" || data.Subsidy.s_review_fst == "待補件" || data.Subsidy.s_review_fst == "待審核")
                                    {
                                        <button class="btn-edit" onClick="location.href='@Url.Action("Edit", "Subsidy", new {subsidyID=data.Subsidy.s_id})';event.stopPropagation();"></button>
                                    }
                                </div>
                            }
                            else if (perm >= 0)
                            {
                                <div class="f-1">
                                    <button class="btn-edit" onclick="location.href='@Url.Action("Edit_Manager", new { subsidyID = data.Subsidy.s_id,isView=false,title=1})'"></button>
                                </div>

                                <div class="f-1">
                                    <button class="btn-details" onclick="location.href='@Url.Action("ReviewList", new {subsidyID=data.Subsidy.s_id,title=1})'"></button>
                                </div>
                            }

                            @if (perm == 0 || perm == 1)
                            {
                                <div class="f-3">
                                    @Html.DropDownList("Review" + data.Subsidy.s_id, ViewBag.Reviewers as IEnumerable<SelectListItem>,"請選擇", new { onchange = "changePerson(this.name,this.value)" })
                                </div>
                                <script>
                                    showPerson( @data.Subsidy.s_id, @data.Subsidy.s_division_case.ToString());
                                </script>
                            }
                            @if (perm != 2)
                            {
                                <div class="f-1">
                                    @if ((perm == 3 && (data.Subsidy.s_review_fst == "待補件" || data.Subsidy.s_review_fst == "待審核")) || (perm == 0 || perm == 1))
                                    {
                                        <button class="btn-del" onClick="openPopup(@data.Subsidy.s_id,'delete')"></button>
                                    }
                                </div>
                            }
                        </div>
                    }
                </div>
            </div>
        </div>

        <div class="pages-wrap">
            @Html.PagedListPager(Model.Subsidies, page => Url.Action("Index", "Subsidy", new { page, key = Request.QueryString["key"], review = Request.QueryString["review"] }), new PagedListRenderOptions()
            {
                DisplayLinkToFirstPage = PagedListDisplayMode.Always,
                DisplayLinkToLastPage = PagedListDisplayMode.Always,
                DisplayLinkToPreviousPage = PagedListDisplayMode.Always,
                DisplayLinkToNextPage = PagedListDisplayMode.Always
            })
        </div>
    </div>

    <script>
        function changePerson(id,person_id) {
            $.ajax({
                url: '@Url.Action("ChangePerson")' + '/' + id  ,
                dataType: "html",
                type: "post",
                data: { 'id': id, 'person_id': person_id },
                success: function (data) {
                    alert(data);
                }
            });
        }

        function openPopup(id, type) {
            let popupClass, actionUrl;

            //刪除視窗
            if (type == 'delete') {
                popupClass = '.js-del-popup';
                actionUrl = '@Url.Action("Delete")' + "?id=" + id;
            }
            //送件視窗
            else if(type=='review') {
                popupClass = 'js-review-popup';
                actionUrl = '';
            }

            $(".popup-overlay," + popupClass).fadeIn();
            $(".popup-overlay, .popup-btn .btn-cancel, .popup-btn .btn-submit").off('click');
            $(".popup-overlay, " + popupClass + " .popup-btn .btn-cancel").on('click', function () {
                $(".popup-overlay, " + popupClass).fadeOut();
            });
            $(popupClass + ' .popup-btn .btn-submit').on('click', function () {
                window.location.href = actionUrl;
            });
        }
    </script>
</main>
