@{
    Layout = "~/Views/Shared/Layout.cshtml";

    int perm = Session["perm"] != null ? (int)Session["perm"] : -1;
    // 1. 無登入-1
    // 2. 管理者0、PM1、工讀生2
    // 3. 業者3
}

@*@model IPagedList<WebApplication1.Models.SubsidyIndustry>*@
@model IPagedList<WebApplication1.Models.SubsidyIndustry>
@using PagedList.Mvc;
@using PagedList;

<main class="container-wrap">
    <div class="container-main">
        <!-- tool -->
        <div class="tool-wrap">
            @if (perm == 3)
            {
                <div class="tool-item left">
                    <h3>@ViewBag.Name 您好!</h3>
                </div>

                <div class="tool-item">
                    <label>可申請人數餘額：<span>@ViewBag.SubMemberCount / @ViewBag.Maxmember</span> </label>
                </div>
            }

            @*<div class="tool-search">
                <input type="text" placeholder="請輸入關鍵字搜尋">
                <button></button>
            </div>

            <div class="tool-item">
                <label>顯示月份：</label>
                <input type="month" name="name" value="" />
            </div>*@

            <div class="tool-btn">
                @if (perm >= 0 && perm < 3)
                {
                    <button class="btn-add" onClick="">匯出</button>
                    <button class="btn-add" onClick="location.href = '@Url.Action("Report","Subsidy")'">報表</button>
                }
                else
                {
                    <button class="btn-add" onClick="window.location.href='@Url.Action("Create", "Subsidy", new {id_id=ViewBag.IndustryId})'">新增</button>
                }
            </div>
        </div>

        <div class="red-text">
            <p>請按案件送出,即完成本次申請</p><br />
        </div>

        <div class="container-nav">
            <a href="@Url.Action("Index","Subsidy")" class="is-active">補助申請</a>
            <a href="@Url.Action("Index","Members")">人員資料上傳</a>
            <a href="@Url.Action("InsurList","Subsidy")">各月勞保清冊</a>
        </div>

        <div class="list-wrap">
            <!-- list -->
            <div class="list-overflow">
                <div class="list-main">
                    <div class="list-title pr-2 pl-2">
                        <div class="f-3">案號</div>
                        <div class="f-3">申請月份</div>
                        @if (perm < 3)
                        {<div class="f-3 ta-left ml-6">旅宿名稱</div>}

                        <div class="f-3">承辦人</div>
                        <div class="f-3">撥款日期</div>
                        <div class="f-3 ta-right">申請金額</div>
                        <div class="f-3">審核狀態</div>
                        <div class="f-1">案件送出</div>
                        @if (perm == 3)
                        {
                            <div class="f-1">詳細</div>
                            <div class="f-1">人員</div>
                            <div class="f-1">修改</div>
                            <div class="f-1">刪除</div>
                        }

                    </div>

                    @foreach (var data in Model)
                    {
                        <div class="list-row pr-2 pl-2">
                            <div class="f-3">@data.s_no</div>
                            <div class="f-3">@data.s_date_time.ToString("yyyy年MM月")</div>
                            @if (perm < 3)
                            {<div class="f-3 ta-left ml-6">@data.id_name</div>}

                            <div class="f-3">@data.id_owner</div>
                            <div class="f-3">
                                @if (data.s_grant_date == null)
                                {
                                    <span>無</span>
                                }
                                else
                                {
                                    <span>@data.s_grant_date</span>
                                }
                            </div>

                            <div class="f-3 ta-right">@data.s_money</div>
                            <div class="f-3">@data.s_review</div>
                            <div class="f-1">
                                <button class="btn-add" onClick="location.href='@Url.Action("Status", "Subsidy", new {id=data.s_id})';event.stopPropagation();"></button>
                            </div>
                            @if (perm == 3)
                            {
                                <div class="f-1">
                                    <button class="btn-details" onClick="location.href='@Url.Action("Detail", "Subsidy", new {id=data.s_id})';event.stopPropagation();"></button>
                                </div>
                                <div class="f-1">
                                    <button class="btn-members" onClick="location.href='@Url.Action("Index", "SubMembers", new {id=data.s_id})';event.stopPropagation();"></button>
                                </div>

                                <div class="f-1">
                                    @if (data.s_review == "退件" || data.s_review == "待補件")
                                    {
                                        <button class="btn-edit" onClick="location.href='@Url.Action("Edit", "Subsidy", new {id=data.s_id})';event.stopPropagation();"></button>
                                    }
                                </div>

                                <div class="f-1">
                                    @if (data.s_review == "待補件")
                                    {
                                        @*<button class="btn-del" onClick="location.href='@Url.Action("Delete", "Subsidy", new {id=data.s_id})';event.stopPropagation();"></button>*@
                                        <button class="btn-del" onClick="del(@data.s_id)"></button>
                                    }
                                </div>
                            }
                        </div>
                    }
                </div>
            </div>
        </div>

        <!-- pages -->
        <div class="pages-wrap">
            @Html.PagedListPager(Model, page => Url.Action("Index", "Subsidy", new { page }), new PagedListRenderOptions()
       {
           DisplayLinkToFirstPage = PagedListDisplayMode.Always,
           DisplayLinkToLastPage = PagedListDisplayMode.Always,
           DisplayLinkToPreviousPage = PagedListDisplayMode.Always,
           DisplayLinkToNextPage = PagedListDisplayMode.Always
       })
        </div>
    </div>

    <script>
    let itemID;
    // 刪除跳出視窗
    function del(id){
        itemID = id;
        $(".popup-overlay, .js-del-popup").fadeIn();
        $(".popup-overlay, .popup-btn .btn-cancel, .popup-btn .btn-submit").off('click');
        $(".popup-overlay,.js-del-popup .popup-btn .btn-cancel").on('click', function () {
            $(".popup-overlay, .js-del-popup").fadeOut();
        });
        $('.js-del-popup .popup-btn .btn-submit').on('click', function () {
            window.location.href = '@Url.Action("Delete")'+"?id="+ id;
        })
    }
    // 送件
    function review(id){
        itemID = id;
        $(".popup-overlay, .js-review-popup").fadeIn();
        $(".popup-overlay, .popup-btn .btn-cancel, .popup-btn .btn-submit").off('click');
        $(".popup-overlay,.js-review-popup .popup-btn .btn-cancel").on('click', function () {
            $(".popup-overlay, .js-review-popup").fadeOut();
        });
        $('.js-review-popup .popup-btn .btn-submit').on('click', function () {
            window.location.href = '';
        })
    }
    </script>
</main>
