@{
    Layout = "~/Views/Shared/Layout.cshtml";
}

@model WebApplication1.Models.LoginViewModel

<main class="container-wrap">
    <div class="container-main">
        <div class="tool-wrap">
            <div class="tool-item left">
                <h3>首頁＞基本資料＞修改密碼</h3>
            </div>
            <div class="tool-btn">
                <button class="btn-add" type="button">修改密碼</button>
            </div>
        </div>

        <div class="form-wrap">
            @using (Html.BeginForm("ResetPassword", "Login"))
            {
                @Html.AntiForgeryToken();
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(x=>x.User_Accounts.ua_id)
                @Html.HiddenFor(x=>x.User_Accounts.ua_user_id)
                @Html.HiddenFor(x=>x.User_Accounts.ua_perm)

                <div class="form-main">
                    <div class="form-title">
                        <h1>修改密碼</h1>
                    </div>

                    <div class="form-content">
                        <div class="form-flex">
                            <div class="form-group">
                                <div class="form-col">
                                    <div class="form-input">
                                        <label for="">新密碼</label>
                                        <div class="input">
                                            @Html.PasswordFor(x => x.NewPassword, new {@type="password",@autocomplete="off",@required=""})
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="form-col">
                                    <div class="form-input">
                                        <label for="">確認密碼</label>
                                        <div class="input">
                                            @Html.PasswordFor(x => x.CheckNewPassword, new { @type = "password", @autocomplete = "off", @required = "" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-btn">
                    <button class="btn-cancel" type="button" onclick="history.back()">返回</button>
                    <button class="btn-submit" type="submit">儲存</button>
                </div>
            }

        </div>
    </div>
</main>