@*只有管理者使用*@

@{
    Layout = "~/Views/Shared/Layout.cshtml";

    int perm = Session["perm"] != null ? (int)Session["perm"] : -1;
    // 1. 無登入-1
    // 2. 管理者0、PM1、工讀生2
    // 3. 業者3
}

@model WebApplication1.Models.ManagerViewModel.Index
@using PagedList.Mvc;

<main class="container-wrap">
    <div class="container-main">
        <div class="tool-wrap">
            <div class="tool-item left">
                <h3>首頁＞帳號管理</h3>
            </div>

            <div class="tool-btn">
                <button class="btn-add" onclick="location.href='@Url.Action("Create")'">新增</button>
            </div>
        </div>

        <div class="list-wrap">
            <div class="form-title">
                <h3>帳號管理</h3>
            </div>

            <div class="list-overflow">
                <div class="list-main">
                    <div class="list-title pr-2 pl-2">
                        <div class="f-3">姓名</div>
                        <div class="f-3">帳號</div>
                        <div class="f-3">權限</div>
                        <div class="f-3">操作</div>
                    </div>

                    @foreach (var data in Model.ManagerAccounts)
                    {
                        <div class="list-row pr-2 pl-2">
                            <div class="f-1">@data.Manager.mg_name</div>
                            <div class="f-1">@data.User_Accounts.ua_acct</div>
                            <div class="f-1">@data.PermissionsText</div>
                            <div class="f-1">
                                <button class="btn-edit" onClick="location.href='@Url.Action("Edit", new {managerID=data.Manager.mg_id,permission=data.User_Accounts.ua_perm})'"></button>
                                <button class="btn-del" onClick='openPopup("@data.Manager.mg_id","@data.User_Accounts.ua_perm","delete")'></button>

                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>

        <div class="pages-wrap">
            @Html.PagedListPager(Model.ManagerAccounts, page => Url.Action("Index", new { page}), new PagedListRenderOptions()
            {
                DisplayLinkToFirstPage = PagedListDisplayMode.Always,
                DisplayLinkToLastPage = PagedListDisplayMode.Always,
                DisplayLinkToPreviousPage = PagedListDisplayMode.Always,
                DisplayLinkToNextPage = PagedListDisplayMode.Always
            })
        </div>
    </div>
</main>

<script>
    function openPopup(managerID, permission, type) {
    let popupClass, actionUrl;

    //刪除視窗
    if (type == 'delete') {
        popupClass = '.js-del-popup';
        actionUrl = '@Url.Action("Delete")' + "?managerID=" + managerID + "&permission=" + permission;
    }

    $(".popup-overlay," + popupClass).fadeIn();
    $(".popup-overlay, .popup-btn .btn-cancel, .popup-btn .btn-submit").off('click');
    $(".popup-overlay, " + popupClass + " .popup-btn .btn-cancel").on('click', function () {
        $(".popup-overlay, " + popupClass).fadeOut();
    });
    $(popupClass + ' .popup-btn .btn-submit').on('click', function () {
        window.location.href = actionUrl;
    });
}
</script>