@*只有管理者使用*@

@{
    Layout = "~/Views/Shared/Layout.cshtml";
}

@model WebApplication1.Models.CaseQueryViewModel.CaseStatistics
@using PagedList.Mvc;

<main class="container-wrap">
    <div class="container-main">
        <div class="tool-wrap">
            <div class="tool-item left">
                <h3>首頁＞案件統計</h3>
            </div>

            <div class="tool-btn">
                <form action="@Url.Action("CaseStatistics")" method="get" style="margin-right:5px;">
                    <label>審核狀態</label>
                    <select name="review" style="margin-left:20px">
                        <option value="">全部</option>
                        <option value="待審核">待審核</option>
                        <option value="審核中">審核中</option>
                        <option value="待補件">待補件</option>
                        <option value="退件">退件</option>
                        <option value="審核完成">審核完成</option>
                    </select>

                    <label>申請日期</label>
                    <input name="startDay" type="date" />
                    <label>~</label>
                    <input name="endDay" type="date" />
                    <button class="btn-add" type="submit">查詢</button>
                </form>

                <form action="@Url.Action("ExportCaseStatistics")" method="get">
                    <button class="btn-add" type="submit" >excel 下載</button>
                </form>
            </div>
        </div>

        <div class="container-nav">
            <a href="@Url.Action("Index")">案件查詢</a>
            <a href="@Url.Action("CaseStatistics")" class="is-active">案件統計</a>
        </div>

        <div class="list-wrap">
            <div class="list-overflow">
                <div class="list-main">
                    <div class="list-title pr-2 pl-2">
                        <div class="f-1">序號</div>
                        <div class="f-3">旅宿業名稱</div>
                        <div class="f-1">可申請人數</div>
                        <div class="f-1">已提出申請人數</div>
                        <div class="f-1">6個月</div>
                        <div class="f-1">7個月</div>
                        <div class="f-1">8個月</div>
                        <div class="f-1">9個月</div>
                        <div class="f-1">10個月</div>
                        <div class="f-1">11個月</div>
                        <div class="f-1">12個月</div>
                        <div class="f-1">申請金額</div>
                        <div class="f-1">撥款金額</div>
                        <div class="f-3">審核狀態/補件說明</div>
                    </div>

                    @foreach (var data in Model.CaseStatisticsList)
                    {
                        <div class="list-row pr-2 pl-2">
                            <div class="f-1">@data.Id</div>
                            <div class="f-3">@data.IndustryName</div>
                            <div class="f-1">@data.EligibleApplicants</div>
                            <div class="f-1">@data.CurrentApplicants</div>
                            <div class="f-1">@data.SixMonth</div>
                            <div class="f-1">@data.SevenMonth</div>
                            <div class="f-1">@data.EightMonth</div>
                            <div class="f-1">@data.NineMonth</div>
                            <div class="f-1">@data.TenMonth</div>
                            <div class="f-1">@data.ElevenMonth</div>
                            <div class="f-1">@data.TwelveMonth</div>
                            <div class="f-1">@data.ApplicationAmount</div>
                            <div class="f-1">@data.GrantAmount</div>
                            <div class="f-3"><textarea class="textarea-autoheigh" readonly>@data.Memo</textarea></div>
                        </div>
                    }
                </div>
            </div>
        </div>

        <div class="pages-wrap">
            @Html.PagedListPager(
                Model.CaseStatisticsList,
                page => Url.Action("CaseStatistics", new { page, startDay = Request.QueryString["startDay"], endDay = Request.QueryString["endDay"], review = Request.QueryString["review"] }),
                new PagedListRenderOptions()
                {
                    DisplayLinkToFirstPage = PagedListDisplayMode.Always,
                    DisplayLinkToLastPage = PagedListDisplayMode.Always,
                    DisplayLinkToPreviousPage = PagedListDisplayMode.Always,
                    DisplayLinkToNextPage = PagedListDisplayMode.Always
                }
            )
        </div>
    </div>
</main>