@model WebApplication1.Models.information

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/Layout.cshtml";
}
@{ 
    string controler = "Video";
    int perm = Session["perm"] != null ? (int)Session["perm"] : 3;
    // 1. 無登入-1
    // 2. 管理者0、PM1、工讀生2
    // 3. 業者3
}
<main class="container-wrap">
    <div class="container-main">
        <div class="form-wrap">
            @using (Html.BeginForm("Create", "Video", FormMethod.Post, new { id = "myForm" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(x=>x.if_ig_id)
                @Html.HiddenFor(x=>x.if_visible)
                
                <div class="form-main">
                    <div class="form-title">
                        <h1>新增影音</h1>
                    </div>
                    <div class="form-content">
                        <div class="form-flex">
                            <div class="form-group">
                                <div class="form-col">
                                    <div class="form-input">
                                        <label for="">標題</label>
                                        <div class="input">
                                            @Html.TextBoxFor(x => x.if_title, new { @required = "required" })                                            
                                        </div>
                                    </div>
                                    <div class="form-input">
                                        <label for="">連結</label>
                                        <div class="input">
                                            @Html.TextBoxFor(x => x.if_connect, new { @required = "required" })                                            
                                        </div>
                                    </div>
                                    <div class="form-input">
                                        <label for="">內文</label>
                                        <div class="input textarea">
                                            @Html.TextAreaFor(x => x.if_content)                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-btn">
                    <button class="btn-cancel" type="button" onclick="location.href = '@Url.Action("Index","Video")'">返回</button>
                    <button class="btn-submit" type="submit">儲存</button>
                </div>

            }
        </div>
    </div>
</main>



